
body {
    background: #fff;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.main {
    margin: 0 5vw;
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
}

.navbar-right {
    margin-right: 20%;
    justify-content: space-between;
}

.navbar-left .artist-name {
    font-size: 1.5rem;
    letter-spacing: .8px;
    text-transform: none;
    z-index: 2;
    position: relative;
}

.navbar-right a {
    margin-left: 2.4rem;
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: .8px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-btn {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: lightgray;
    padding: 2px;
    display: none;
}

.prev-btn {
    left: 3vw;
}

.next-btn {
    right: 3vw;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    z-index: 2;
    position: relative;
    width: 36px;
    height: 18px;
    justify-content: space-between;
}

    .burger-menu span {
        width: 36px;
        height: 3px;
        background: black;
        transition: transform 0.3s, opacity 0.3s;
    }

    /* State when the 'is-active' class is present (forms the 'x') */
    .burger-menu.is-active span:nth-child(1) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    .burger-menu.is-active span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.is-active span:nth-child(3) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }


.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 40vh 5vw;
}

    .mobile-menu.active {
        display: block;
    }

.header-menu-nav-item {
    margin-bottom: 3rem;
    font-size: 3rem;
    letter-spacing: -1px;
}

    .header-menu-nav-item a {
        text-decoration: none;
        text-transform: uppercase;
    }

main {
    margin-top: 1rem;
    padding: 1rem 0rem;
}

section {
    padding: 1rem 0rem;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

h5 {
    font-size: 1rem;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: .8rem;
}

p {
    margin-block-start: .1rem;
    margin-block-end: .1rem;
    line-height: 1.2rem;
    letter-spacing: .6px;
    font-size: 1rem;
    color: dimgray;
}

a {
    color: inherit;
    width: fit-content;
    text-decoration: none;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}