
@media (max-width: 840px) {

    .column-grid {
        flex-direction: column;
        gap: 0;
    }

    .grid-column {
        max-width: none;
    }
}

@media (max-width: 724px) {

    .navbar-right {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .tab-bar {
        gap: 1.4rem;
    }

    .tab-btn {
        font-size: 1rem;
    }
}

@media (max-width: 658px) {

    .artwork-container {
        cursor: default;
    }
}


@media (max-width: 540px) {

    body {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .tab-btn {
        font-size: .9rem;
    }
}

@media (max-width: 512px) {

    body {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media (max-width: 460px) {

    .tab-bar {
        gap: 1.2rem;
    }

    .tab-btn {
        font-size: .8rem;
    }
}

@media (min-width: 724px) {

    .mobile-menu {
        display: none !important;
    }
}

@media (min-width: 1200px) {

    body {
        margin-left: 3vw;
    }
}

@media (min-width: 1800px) {

    .navbar-left .artist-name {
        font-size: 2.4rem;
        letter-spacing: .8px;
    }

    .navbar-right a {
        font-size: 2rem;
        letter-spacing: .8px;
    }
}

@media (prefers-color-scheme: dark) {

    body {
        background: #111;
        color: #fff;
    }

    .burger-menu span {
        background: white;
    }

    .exhibition-block {
        background: #222;
        border-left-color: #fff;
    }

    p {
        color: #ccc;
    }

    .tab-btn {
        color: white;
    }

        .tab-btn.active {
            color: white;
        }
}
