
@media (max-width: 720px) {
    .navbar-right {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .nav-btn {
        /* Optionally, set a min-width/min-height for touch targets */
        background: none;
        border: none;
        width: 48px;
        height: 48px;
        opacity: 1;
        position: relative;
        z-index: 1;
    }

        .nav-btn svg {
            display: none;
        }
}

@media (max-width: 840px) {

    .column-grid {
        flex-direction: column;
        gap: 0;
    }

    .grid-column {
        max-width: none;
    }
}

@media (min-width: 720px) {
    .mobile-menu {
        display: none !important;
    }
}

@media (min-width: 1800px) {

    .navbar-left .artist-name {
        font-size: 2.4rem;
        letter-spacing: .8px;
    }

    .navbar-right a {
        font-size: 2rem;
        letter-spacing: .8px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #111;
        color: #fff;
    }

    .burger-menu span {
        background: white;
    }

    .exhibition-block {
        background: #222;
        border-left-color: #fff;
    }

    p {
        color: #ccc;
    }
}
